[Desktop Entry]
Name=Weather Desktop
Exec=weather-desktop %i -caption %c
Icon=weather-desktop
Type=Application
X-DocPath=weather-desktop/index.html
GenericName=Weather Viewer
Categories=Qt;KDE;Utility
