[Desktop Entry]
Name=weather-desktop
Name[ast]=weather-desktop
Name[bg]=weather-desktop
Name[bs]=weather-desktop
Name[ca]=weather-desktop
Name[ca@valencia]=weather-desktop
Name[cs]=weather-desktop
Name[da]=weather-desktop
Name[de]=weather-desktop
Name[el]=weather-desktop
Name[en_GB]=weather-desktop
Name[eo]=weather-desktop
Name[es]=weather-desktop
Name[et]=weather-desktop
Name[fi]=weather-desktop
Name[fr]=weather-desktop
Name[ga]=weather-desktop
Name[gl]=weather-desktop
Name[hu]=weather-desktop
Name[it]=weather-desktop
Name[ja]=weather-desktop
Name[kk]=weather-desktop
Name[km]=weather-desktop
Name[ko]=weather-desktop
Name[lt]=weather-desktop
Name[lv]=weather-desktop
Name[nb]=weather-desktop
Name[nds]=weather-desktop
Name[nl]=weather-desktop
Name[nn]=weather-desktop
Name[pa]=weather-desktop
Name[pl]=weather-desktop
Name[pt]=weather-desktop
Name[pt_BR]=weather-desktop
Name[ro]=weather-desktop
Name[ru]=weather-desktop
Name[sk]=weather-desktop
Name[sq]=weather-desktop
Name[sr]=weather-desktop
Name[sr@ijekavian]=weather-desktop
Name[sr@ijekavianlatin]=weather-desktop
Name[sr@latin]=weather-desktop
Name[sv]=weather-desktop
Name[tr]=weather-desktop
Name[ug]=weather-desktop
Name[uk]=weather-desktop
Name[x-test]=xxweather-desktopxx
Name[zh_CN]=weather-desktop
Name[zh_TW]=weather-desktop
Exec=weather-desktop %i -caption "%c"
Icon=weather-desktop
Type=Application
X-DocPath=weather-desktop/index.html
GenericName=A Simple KDE Application
GenericName[bs]=Prosti KDE program
GenericName[ca]=Una aplicació senzilla del KDE
GenericName[ca@valencia]=Una aplicació senzilla del KDE
GenericName[cs]=Jednoduchá aplikace KDE
GenericName[da]=Et simpelt KDE-program
GenericName[de]=Eine einfache KDE-Anwendung
GenericName[el]=Μια απλή εφαρμογή KDE
GenericName[es]=Una aplicación sencilla para KDE
GenericName[et]=Lihtne KDE rakendus
GenericName[fi]=Yksinkertainen KDE-sovellus
GenericName[fr]=Une application simple pour KDE
GenericName[ga]=Feidhmchlár Simplí KDE
GenericName[gl]=Aplicativo de KDE sinxelo
GenericName[hu]=Egyszerű KDE alkalmazás
GenericName[it]=Una semplice applicazione di KDE
GenericName[kk]=Қарапайым KDE қолданбасы
GenericName[lt]=Paprasta KDE programa
GenericName[nb]=Et enkelt KDE4-program
GenericName[nl]=Een eenvoudige KDE-toepassing
GenericName[pa]=ਸਧਾਰਨ KDE ਐਪਲੀਕੇਸ਼ਨ
GenericName[pl]=Prosty program KDE
GenericName[pt]=Uma Aplicação Simples do KDE
GenericName[pt_BR]=Um aplicativo simples do KDE
GenericName[sk]=Jednoduchá KDE aplikácia
GenericName[sr]=Једноставни КДЕ програм
GenericName[sr@ijekavian]=Једноставни КДЕ програм
GenericName[sr@ijekavianlatin]=Jednostavni KDE program
GenericName[sr@latin]=Jednostavni KDE program
GenericName[sv]=Ett enkelt KDE-program
GenericName[tr]=Baist bir KDE4 Uygulaması
GenericName[uk]=Проста програма для KDE
GenericName[x-test]=xxA Simple KDE Applicationxx
GenericName[zh_CN]=简单的 KDE 应用程序
GenericName[zh_TW]=簡單的 KDE 應用程式
